.card1 {
  height: 200px;
  background: #ffffff;
  padding: 5px;
  position: relative;
  display: grid;
  overflow: hidden;
  place-content: center;
  place-items: center;
  border-radius: 5px;
  max-width: 300px;
}
.card1 h1 {
  /* color:#508CF3; */
  font-family: "Inter var", sans-serif;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}
.card1 .p {
  color: white;
  font-size: 1rem;
}
.card1 img {
  /* max-width:px; */
  height: 100px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid white;
}

@media only screen and (max-width: 600px) {
  .card1 img {
    width: 200px;
  }
}
